<launch>
  <arg name="robocars_front_video" /> 
  <arg name="robocars_path" /> 
  <node name="front_video" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="$(arg robocars_front_video)" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" type="str" value="0" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="30"/>
    <param name="stamp_offset_ms" value="180"/>
    <param name="camera_info_url" value="file://$(arg robocars_path)/front_camera.yaml"/>
  </node>

  <!-- Video cropping -->
  <node pkg="nodelet" type="nodelet" args="standalone image_proc/crop_decimate" name="crop_img">
    <param name="x_offset" type="int" value="0" />
    <param name="y_offset" type="int" value="80" />
    <param name="width" type="int" value="320" />
    <param name="height" type="int" value="120" />
    <!-- remap input topics -->
    <remap from="camera/image_raw" to="front_video/image_raw"/>
    <remap from="camera/image_info" to="front_video/camera_info"/>
    <!-- remap output topics -->
    <remap from="camera_out/image_raw" to="front_video_croped/image"/>
    <remap from="camera_out/camera_info" to="front_video_croped/camera_info"/>
  </node>

  <!-- Video resizing -->
  <node pkg="nodelet" type="nodelet" args="standalone image_proc/resize" name="resize_img">
    <!-- remap input topics -->
    <remap from="image" to="front_video_croped/image"/>
    <remap from="camera_info" to="front_video_croped/camera_info"/>
    <!-- remap output topics -->
    <remap from="resize_img/image" to="front_video_resize/image"/>
    <remap from="resize_img/camera_info" to="front_video_resize/camera_info"/>
  </node>
  <!--
  <node pkg="nodelet" type="nodelet" args="standalone image_proc/rectify" name="rectify_img">
    <remap from="image_mono" to="front_video/image_raw"/>
    <remap from="camera_info" to="front_video/camera_info"/>
    <remap from="rectify_img/image" to="front_video_rectify/image"/>
    <remap from="rectify_img/camera_info" to="front_video_rectify/camera_info"/>
  </node>
  -->
  <!-- Dynamic reconfigure the resizing nodelet -->
  <node name="dynparam" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters resize_img">
    <param name="use_scale" type="int" value="0" />
    <param name="width" type="int" value="160" />
    <param name="height" type="int" value="120" />
 </node>
</launch>
