<?xml version="1.0"?>
<launch>

  <node pkg="robocars_host_sbus" name="robocars_host_sbus" type="robocars_host_sbus" output="screen">
    <param name="port_name" type="str" value="$(arg robocars_sbus_tty)" />
    <param name="enable_receiving_sbus_messages" type="bool" value="true" />
  </node>

</launch>
