<launch>
	<arg name="robocars_path"  default="$(env ROBOCARS_PATH)"/>
	<arg name="robocars_companion_tty"  default="$(env ROBOCARS_COMPANION_TTY)"/>
	<arg name="robocars_companion_tty_speed"  default="$(env ROBOCARS_COMPANION_TTY_SPEED)"/>
	<arg name="robocars_capture_path"  default="$(env ROBOCARS_CAPTURE_PATH)"/>
	<arg name="robocars_config_file"  default="$(env ROBOCARS_CONFIG)"/>
	<rosparam command="load" file="$(optenv ROBOCARS_PATH)/$(arg robocars_config_file)"/>
        <include file="./rosserial.launch">
                <arg name="robocars_companion_tty" value="$(arg robocars_companion_tty)" />
                <arg name="robocars_companion_tty_speed" value="$(arg robocars_companion_tty_speed)" />
        </include>
	<include file="./ros_brain_fsm.launch" /> 
	<include file="./ros_virtual_actuators_ctrl.launch" />
	<include file="./ros_brake_ctrl.launch" /> 
	<include file="./ros_switch_ctrl.launch" />
	<include file="./ros_gym_broker.launch" />
	<include file="./web-video-server.launch" />
	<include file="./virtual_data_capture.launch">
		<arg name="robocars_capture_path" value="$(arg robocars_capture_path)" />
	</include>
	<!-- <include file="./autopilot.launch">
		<arg name="robocars_path" value="$(arg robocars_path)" />
	</include> -->
	<include file="./rosbridge_websocket.launch" />
	<include file="$(find cpu_monitor)/launch/cpu_monitor.launch">
		<arg name="poll_period" value="1.0"/>
	</include>

</launch>
