<launch>
	<arg name="robocars_path"  default="$(env ROBOCARS_PATH)"/>
	<arg name="robocars_sbus_tty"  default="$(env ROBOCARS_SBUS_TTY)"/>
	<arg name="robocars_capture_path"  default="$(env ROBOCARS_CAPTURE_PATH)"/>
	<rosparam command="load" file="$(optenv ROBOCARS_PATH)/config.yaml"/>
	<include file="./ros_host_sbus.launch"> 
		<arg name="robocars_sbus_tty" value="$(arg robocars_sbus_tty)" />
        </include>
	<include file="./ros_brain_fsm.launch" /> 
	<include file="./ros_actuators_ctrl.launch" /> 
	<include file="./ros_switch_ctrl.launch" /> 
	<include file="./data_capture.launch">
		<arg name="robocars_capture_path" value="$(arg robocars_capture_path)" />
	</include> 
	<include file="./autopilot.launch">
		<arg name="robocars_path" value="$(arg robocars_path)" />
	</include> 
	<include file="./rosbridge_websocket.launch" />
</launch>
